@model Publinter.Models.Add_Linea_Model

<div class="col-sm-12" style="margin-top: 15px">
    <table>
        <thead>
            <tr>
                <th colspan="2"></th>
                <th colspan="31" style="background-color:lightgrey">
                    @Model.Lineas[Model.IndexLinea].Mes.MesNombre

                    <span id="totalMes_@Model.IndexLinea" class="pull-right">$ 0.00</span>

                    @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].MesId)
                    @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].Mes.MesId)
                    @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].Mes.MesNombre)
                    @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].Mes.MesNumero)
                    @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].Mes.MesAnio)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2" class="tdBlack">Ubicación</td>
                <td rowspan="2" class="tdBlack">Materiales</td>
                @foreach (var dia in Model.Lineas[Model.IndexLinea].Mes.Dias)
                {
                    if (dia.DiaNombre != "Sábado" && dia.DiaNombre != "Domingo")
                    {
                        <td class="dato">@dia.DiaNombre[0]</td>
                    }
                    else
                    {
                        <td class="dato noHabil">@dia.DiaNombre[0]</td>
                    }
                }

                @if (Model.Lineas[Model.IndexLinea].Mes.Dias.Count < 31)
                {
                    if (Model.Lineas[Model.IndexLinea].Mes.Dias.Count == 30)
                    {
                        <td class="dato"></td>
                    }
                    if (Model.Lineas[Model.IndexLinea].Mes.Dias.Count == 29)
                    {
                        <td class="dato"></td>
                        <td class="dato"></td>
                    }
                    if (Model.Lineas[Model.IndexLinea].Mes.Dias.Count == 28)
                    {
                        <td class="dato"></td>
                        <td class="dato"></td>
                        <td class="dato"></td>
                    }
                }
            </tr>
            <tr>
                @foreach (var dia in Model.Lineas[Model.IndexLinea].Mes.Dias)
                {
                    if (dia.DiaNombre != "Sábado" && dia.DiaNombre != "Domingo")
                    {
                        <td class="dato">@dia.DiaNumero</td>
                    }
                    else
                    {
                        <td class="dato noHabil">@dia.DiaNumero</td>
                    }
                }

                @if (Model.Lineas[Model.IndexLinea].Mes.Dias.Count < 31)
                {
                    if (Model.Lineas[Model.IndexLinea].Mes.Dias.Count == 30)
                    {
                        <td class="dato"></td>
                    }
                    if (Model.Lineas[Model.IndexLinea].Mes.Dias.Count == 29)
                    {
                        <td class="dato"></td>
                        <td class="dato"></td>
                    }
                    if (Model.Lineas[Model.IndexLinea].Mes.Dias.Count == 28)
                    {
                        <td class="dato"></td>
                        <td class="dato"></td>
                        <td class="dato"></td>
                    }
                }
            </tr>
            <tr>
                <td rowspan="2">
                    @Html.DropDownListFor(x => x.Lineas[Model.IndexLinea].ProgramaId, new SelectList(Model.ListaProgramas, "ProgramaId", "Nombre"), new { @style = "border:none;width: 100px" })
                </td>
                <td rowspan="2">
                    @Html.DropDownListFor(x => x.Lineas[Model.IndexLinea].MaterialId, new SelectList(Model.ListaMateriales, "MaterialId", "Titulo"), new { @style = "border:none;width: 100px" })
                </td>

                @for (var d = 0; d < Model.Lineas[Model.IndexLinea].Mes.Dias.Count; d++)
                {
                    if (Model.Lineas[Model.IndexLinea].Mes.Dias[d].DiaNombre != "Sábado" && Model.Lineas[Model.IndexLinea].Mes.Dias[d].DiaNombre != "Domingo")
                    {
                        <td rowspan="2" class="dato">
                            @Html.TextBoxFor(x => x.Lineas[Model.IndexLinea].Mes.Dias[d].NroEmisiones, new { @class = "txtEmisiones" })

                            @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].Mes.Dias[d].DiaId)
                            @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].Mes.Dias[d].DiaNombre)
                            @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].Mes.Dias[d].DiaNumero)
                            @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].Mes.Dias[d].TotalDia)
                        </td>
                    }
                    else
                    {
                        <td rowspan="2" class="dato noHabil">
                            @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].Mes.Dias[d].DiaId)
                            @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].Mes.Dias[d].NroEmisiones)
                            @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].Mes.Dias[d].DiaNombre)
                            @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].Mes.Dias[d].DiaNumero)
                            @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].Mes.Dias[d].TotalDia)
                        </td>
                    }
                }

                @if (Model.Lineas[Model.IndexLinea].Mes.Dias.Count < 31)
                {
                    if (Model.Lineas[Model.IndexLinea].Mes.Dias.Count == 30)
                    {
                        <td rowspan="2" class="dato"></td>
                    }
                    if (Model.Lineas[Model.IndexLinea].Mes.Dias.Count == 29)
                    {
                        <td rowspan="2" class="dato"></td>
                        <td rowspan="2" class="dato"></td>
                    }
                    if (Model.Lineas[Model.IndexLinea].Mes.Dias.Count == 28)
                    {
                        <td rowspan="2" class="dato"></td>
                        <td rowspan="2" class="dato"></td>
                        <td rowspan="2" class="dato"></td>
                    }
                }
            </tr>
            <tr></tr>
        </tbody>
    </table>
</div>
