@model Publinter.Models.Add_Linea_Model

<div class="col-sm-12 lineaOrden" style="margin-top: 15px">
    <div class="div_add_linea">
        <a class="inline-element btnLineas" href="javascript:AgregarLineaInterna(@Model.IndexLinea)" title="Agregar línea">
            <i class="material-icons iconLineas" style="width:0px;position:relative;right:20px">
                add
            </i>
        </a>
    </div>
    <table id="table_Linea_@Model.IndexLinea">
        <thead>
            <tr>
                <th colspan="2" style="text-align: left;">
                    @Html.CheckBoxFor(x => x.Lineas[Model.IndexLinea].Bonificada, new { @onchange = "SetBonificada(" + Model.IndexLinea + ")", @style = "position:relative;top:2px" })
                    <span>Bonificada</span>
                </th>
                <th colspan="31" style="background-color:lightgrey">
                    @Model.Lineas[Model.IndexLinea].LineasInternasOrden[0].Mes.MesNombre

                    <span id="totalMes_@Model.IndexLinea" class="pull-right totalMes">$ 0.00</span>

                    @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[0].MesId)
                    @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[0].Mes.MesId)
                    @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[0].Mes.MesNombre)
                    @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[0].Mes.MesNumero)
                    @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[0].Mes.MesAnio)
                    @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].TotalLinea)
                    @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].TotalLineaSegundos)
                    @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].Bonificada)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2" class="tdBlack">Ubicación</td>
                <td rowspan="2" class="tdBlack">Materiales</td>
                @foreach (var dia in Model.Lineas[Model.IndexLinea].LineasInternasOrden[0].Mes.Dias)
                {
                    <td class="dato">@dia.DiaNombre[0]</td>
                }

                @if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[0].Mes.Dias.Count < 31)
                {
                    if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[0].Mes.Dias.Count == 30)
                    {
                        <td class="dato hidden"></td>
                    }
                    if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[0].Mes.Dias.Count == 29)
                    {
                        <td class="dato hidden"></td>
                        <td class="dato hidden"></td>
                    }
                    if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[0].Mes.Dias.Count == 28)
                    {
                        <td class="dato hidden"></td>
                        <td class="dato hidden"></td>
                        <td class="dato hidden"></td>
                    }
                }
            </tr>
            <tr>
                @foreach (var dia in Model.Lineas[Model.IndexLinea].LineasInternasOrden[0].Mes.Dias)
                {
                    <td class="dato">@dia.DiaNumero</td>
                }

                @if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[0].Mes.Dias.Count < 31)
                {
                    if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[0].Mes.Dias.Count == 30)
                    {
                        <td class="dato hidden"></td>
                    }
                    if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[0].Mes.Dias.Count == 29)
                    {
                        <td class="dato hidden"></td>
                        <td class="dato hidden"></td>
                    }
                    if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[0].Mes.Dias.Count == 28)
                    {
                        <td class="dato hidden"></td>
                        <td class="dato hidden"></td>
                        <td class="dato hidden"></td>
                    }
                }
            </tr>

            @for (int e = 0; e < Model.Lineas[Model.IndexLinea].LineasInternasOrden.Count; e++)
            {
                <tr class="LineaInterna_@(Model.IndexLinea)">
                    <td rowspan="2">
                        <select id="Programa_@(Model.IndexLinea)_@e" class="Programa" onchange="SetPrograma(@Model.IndexLinea, @e)" style="border:none;width: 100%;">
                            @foreach (var p in Model.ListaProgramas)
                            {
                                <option value="@p.ProgramaId" data-precio="@p.Precio">@p.Nombre</option>
                            }
                        </select>

                        @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[e].ProgramaId)
                    </td>
                    <td rowspan="2">
                        <select id="Material_@(Model.IndexLinea)_@e" class="Material" onchange="SetMaterial(@Model.IndexLinea, @e)" style="border:none;width: 100%;">
                            @foreach (var m in Model.ListaMateriales)
                            {
                                <option value="@m.MaterialId" data-duracion="@m.DuracionSegundos">@m.Titulo</option>
                            }
                        </select>
                        @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[e].MaterialId)
                    </td>

                    @for (var d = 0; d < Model.Lineas[Model.IndexLinea].LineasInternasOrden[e].Mes.Dias.Count; d++)
                    {
                        <td rowspan="2" class="dato dia_@(Model.IndexLinea)_@e">
                            @Html.TextBoxFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[e].Mes.Dias[d].NroEmisiones, new { @class = "txtEmisiones dias_" + Model.IndexLinea, @onchange = "CalcularTotalLinea(" + Model.IndexLinea + ");CalcularBonificacion(" + Model.IndexLinea + ", " + e + ")" })

                            @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[e].Mes.Dias[d].DiaId)
                            @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[e].Mes.Dias[d].DiaNombre)
                            @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[e].Mes.Dias[d].DiaNumero)
                            @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[e].Mes.Dias[d].TotalDia)
                            @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[e].TotalLineaInterna)
                        </td>
                    }

                    @if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[e].Mes.Dias.Count < 31)
                    {
                        if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[e].Mes.Dias.Count == 30)
                        {
                            <td rowspan="2" class="dato hidden"></td>
                        }
                        if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[e].Mes.Dias.Count == 29)
                        {
                            <td rowspan="2" class="dato hidden"></td>
                            <td rowspan="2" class="dato hidden"></td>
                        }
                        if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[e].Mes.Dias.Count == 28)
                        {
                            <td rowspan="2" class="dato hidden"></td>
                            <td rowspan="2" class="dato hidden"></td>
                            <td rowspan="2" class="dato hidden"></td>
                        }
                    }
                </tr>
                <tr></tr>

                <!--Bonificada-->
                <tr class="LineaBonificada_@(Model.IndexLinea)_@(e) LineaBonificacion" style="background-color:#daffda">
                    <td rowspan="2" colspan="2">

                        <!--Mostrar cantidad bonificadas disponibles aca-->
                        <span id="Text_@(Model.IndexLinea)_@(e)_CantidadBonificadas">Bonificadas</span>

                        @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[e].LineaBonificada.LineaBonificadaId)
                        @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[e].LineaBonificada.CantidadTotalBonificada)
                    </td>

                    @for (var d = 0; d < Model.Lineas[Model.IndexLinea].LineasInternasOrden[e].LineaBonificada.Mes.Dias.Count; d++)
                    {
                    <td rowspan="2" class="dato dia_bonificada_@(Model.IndexLinea)_@(e)">
                        @Html.TextBoxFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[e].LineaBonificada.Mes.Dias[d].NroEmisiones, new { @class = "txtEmisiones inpBonificado dias_" + Model.IndexLinea, @onchange = "CalcularBonificacion(" + Model.IndexLinea + ", " + e + ")" })

                        @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[e].LineaBonificada.Mes.Dias[d].DiaId)
                        @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[e].LineaBonificada.Mes.Dias[d].DiaNombre)
                        @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[e].LineaBonificada.Mes.Dias[d].DiaNumero)
                        @Html.HiddenFor(x => x.Lineas[Model.IndexLinea].LineasInternasOrden[e].LineaBonificada.Mes.Dias[d].TotalDia)
                    </td>
                    }

                    @if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[e].LineaBonificada.Mes.Dias.Count < 31)
                    {
                        if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[e].LineaBonificada.Mes.Dias.Count == 30)
                        {
                            <td rowspan="2" class="dato hidden"></td>
                        }
                        if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[e].LineaBonificada.Mes.Dias.Count == 29)
                        {
                            <td rowspan="2" class="dato hidden"></td>
                            <td rowspan="2" class="dato hidden"></td>
                        }
                        if (Model.Lineas[Model.IndexLinea].LineasInternasOrden[e].LineaBonificada.Mes.Dias.Count == 28)
                        {
                            <td rowspan="2" class="dato hidden"></td>
                            <td rowspan="2" class="dato hidden"></td>
                            <td rowspan="2" class="dato hidden"></td>
                        }
                    }
                </tr>
                <!--End bonificada-->
                <tr class="LineaBonificacion"></tr>
            }

        </tbody>
    </table>
</div>
