@model Publinter.Models.Orden_Create_Model

<div id="Lineas">
    @for (var i = 0; i < Model.Lineas.Count; i++)
    {
        <div class="col-sm-12 lineaOrden" style="margin-top: 15px">
            <div class="div_add_linea">
                <a class="inline-element btnLineas" href="javascript:AgregarLineaInterna(@i)" title="Agregar línea">
                    <i class="material-icons iconLineas" style="width:0px;position:relative;right:20px">
                        add
                    </i>
                </a>
            </div>
            <table id="table_Linea_@i">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align: left;">
                            @Html.CheckBoxFor(x => x.Lineas[i].Bonificada, new { @onchange = "SetBonificada(" + i + ")", @style = "position:relative;top:2px" })
                            <span style="font-size:13px">Bonificada</span>
                        </th>
                        <th colspan="31" style="background-color:lightgrey;font-size:16px">
                            @Model.Lineas[i].LineasInternasOrden[0].Mes.MesNombre

                            <span id="totalMes_@i" class="pull-right">$ 0.00</span>

                            @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[0].ProgramaId)
                            @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[0].Mes.MesId)
                            @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[0].Mes.MesNombre)
                            @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[0].Mes.MesNumero)
                            @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[0].Mes.MesAnio)
                            @Html.HiddenFor(x => x.Lineas[i].TotalLinea)
                            @Html.HiddenFor(x => x.Lineas[i].Bonificada)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" class="tdBlack">Ubicación</td>
                        <td rowspan="2" class="tdBlack">Materiales</td>
                        @foreach (var dia in Model.Lineas[i].LineasInternasOrden[0].Mes.Dias)
                        {
                            <td class="dato">@dia.DiaNombre[0]</td>
                        }

                        @if (Model.Lineas[i].LineasInternasOrden[0].Mes.Dias.Count < 31)
                        {
                            if (Model.Lineas[i].LineasInternasOrden[0].Mes.Dias.Count == 30)
                            {
                                <td class="dato hidden"></td>
                            }
                            if (Model.Lineas[i].LineasInternasOrden[0].Mes.Dias.Count == 29)
                            {
                                <td class="dato hidden"></td>
                                <td class="dato hidden"></td>
                            }
                            if (Model.Lineas[i].LineasInternasOrden[0].Mes.Dias.Count == 28)
                            {
                                <td class="dato hidden"></td>
                                <td class="dato hidden"></td>
                                <td class="dato hidden"></td>
                            }
                        }
                    </tr>
                    <tr>
                        @foreach (var dia in Model.Lineas[i].LineasInternasOrden[0].Mes.Dias)
                        {
                            <td class="dato">@dia.DiaNumero</td>
                        }

                        @if (Model.Lineas[i].LineasInternasOrden[0].Mes.Dias.Count < 31)
                        {
                            if (Model.Lineas[i].LineasInternasOrden[0].Mes.Dias.Count == 30)
                            {
                                <td class="dato hidden"></td>
                            }
                            if (Model.Lineas[i].LineasInternasOrden[0].Mes.Dias.Count == 29)
                            {
                                <td class="dato hidden"></td>
                                <td class="dato hidden"></td>
                            }
                            if (Model.Lineas[i].LineasInternasOrden[0].Mes.Dias.Count == 28)
                            {
                                <td class="dato hidden"></td>
                                <td class="dato hidden"></td>
                                <td class="dato hidden"></td>
                            }
                        }
                    </tr>

                    @for (int e = 0; e < Model.Lineas[i].LineasInternasOrden.Count; e++)
                    {
                        <tr class="LineaInterna_@i">
                            <td rowspan="2">
                                <select id="Programa_@(i)_@(e)" class="Programa" onchange="SetPrograma(@i, @e)" style="border:none;width: 100px">
                                    @foreach (var p in Model.ListaProgramas)
                                    {
                                        <option value="@p.ProgramaId" data-precio="@p.Precio">@p.Nombre</option>
                                    }
                                </select>
                                @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[e].ProgramaId)
                            </td>
                            <td rowspan="2">
                                <select id="Material_@(i)_@(e)" class="Material" onchange="SetMaterial(@i, @e)" style="border:none;width: 100px">
                                    @foreach (var m in Model.ListaMateriales)
                                    {
                                        <option value="@m.MaterialId" data-duracion="@m.DuracionSegundos">@m.Titulo</option>
                                    }
                                </select>
                                @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[e].MaterialId)
                                @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[e].TotalLineaInterna)
                            </td>

                            @for (var d = 0; d < Model.Lineas[i].LineasInternasOrden[e].Mes.Dias.Count; d++)
                            {
                                <td rowspan="2" class="dato dia_@(i)_@(e)">
                                    @Html.TextBoxFor(x => x.Lineas[i].LineasInternasOrden[e].Mes.Dias[d].NroEmisiones, new { @class = "txtEmisiones dias_" + i, @onchange = "CalcularTotalLinea(" + i + ");CalcularBonificacion(" + i + ", " + e + ")" })

                                    @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[e].Mes.Dias[d].DiaId)
                                    @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[e].Mes.Dias[d].DiaNombre)
                                    @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[e].Mes.Dias[d].DiaNumero)
                                    @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[e].Mes.Dias[d].TotalDia)
                                </td>
                            }

                            @if (Model.Lineas[i].LineasInternasOrden[e].Mes.Dias.Count < 31)
                            {
                                if (Model.Lineas[i].LineasInternasOrden[e].Mes.Dias.Count == 30)
                                {
                                    <td rowspan="2" class="dato hidden"></td>
                                }
                                if (Model.Lineas[i].LineasInternasOrden[e].Mes.Dias.Count == 29)
                                {
                                    <td rowspan="2" class="dato hidden"></td>
                                    <td rowspan="2" class="dato hidden"></td>
                                }
                                if (Model.Lineas[i].LineasInternasOrden[e].Mes.Dias.Count == 28)
                                {
                                    <td rowspan="2" class="dato hidden"></td>
                                    <td rowspan="2" class="dato hidden"></td>
                                    <td rowspan="2" class="dato hidden"></td>
                                }
                            }
                        </tr>
                        <tr></tr>

                        <!--Bonificada-->
                        <tr class="LineaBonificada_@(i)_@(e) LineaBonificacion" style="background-color:#daffda">
                            <td rowspan="2" colspan="2">

                                <!--Mostrar cantidad bonificadas disponibles aca-->
                                <span id="Text_@(i)_@(e)_CantidadBonificadas">Bonificadas</span>

                                @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[e].LineaBonificada.LineaBonificadaId)
                                @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[e].LineaBonificada.CantidadTotalBonificada)
                            </td>

                            @for (var d = 0; d < Model.Lineas[i].LineasInternasOrden[e].LineaBonificada.Mes.Dias.Count; d++)
                            {
                            <td rowspan="2" class="dato dia_bonificada_@(i)_@(e)">
                                @Html.TextBoxFor(x => x.Lineas[i].LineasInternasOrden[e].LineaBonificada.Mes.Dias[d].NroEmisiones, new { @class = "txtEmisiones inpBonificado dias_" + i, @onchange = "CalcularBonificacion(" + i + ", " + e + ")" })

                                @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[e].LineaBonificada.Mes.Dias[d].DiaId)
                                @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[e].LineaBonificada.Mes.Dias[d].DiaNombre)
                                @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[e].LineaBonificada.Mes.Dias[d].DiaNumero)
                                @Html.HiddenFor(x => x.Lineas[i].LineasInternasOrden[e].LineaBonificada.Mes.Dias[d].TotalDia)
                            </td>
                            }

                            @if (Model.Lineas[i].LineasInternasOrden[e].LineaBonificada.Mes.Dias.Count < 31)
                            {
                                if (Model.Lineas[i].LineasInternasOrden[e].LineaBonificada.Mes.Dias.Count == 30)
                                {
                                    <td rowspan="2" class="dato hidden"></td>
                                }
                                if (Model.Lineas[i].LineasInternasOrden[e].LineaBonificada.Mes.Dias.Count == 29)
                                {
                                    <td rowspan="2" class="dato hidden"></td>
                                    <td rowspan="2" class="dato hidden"></td>
                                }
                                if (Model.Lineas[i].LineasInternasOrden[e].LineaBonificada.Mes.Dias.Count == 28)
                                {
                                    <td rowspan="2" class="dato hidden"></td>
                                    <td rowspan="2" class="dato hidden"></td>
                                    <td rowspan="2" class="dato hidden"></td>
                                }
                            }
                        </tr>
                        <!--End bonificada-->
                        <tr class="LineaBonificacion"></tr>
                    }

                </tbody>
            </table>
        </div>
    }
</div>