@model Publinter.Models.Orden_Create_Model

<style>
    .inline-element {
        display: inline-block;
    }

    .title {
        margin-top: 10px;
    }

    #datosEncabezado {
        padding-top: 15px;
        border-top: 1px solid #eeecec;
        margin-top: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eeecec;
        margin-bottom: 10px;
    }
</style>

<div class="col-sm-12">
    
    <div class="col-sm-6">
        <h3 class="title">Orden Nro. @Html.DisplayFor(x => x.NroOrden)</h3>

        @Html.HiddenFor(x => x.NroOrden)
        @Html.HiddenFor(x => x.UsuarioId)
        @Html.HiddenFor(x => x.IndexLineaParaAgregar)
    </div>

    <div class="col-sm-6">
        <img class="pull-right" src="~/Content/Images/Logo-Publinter-dark-2017-final.png" style="width:190px" />
    </div>

    <div id="datosEncabezado" class="col-sm-12">
        <div class="col-sm-3">
            <label class="inline-element" style="width:75px">Campaña: </label>
            @Html.DropDownListFor(x => x.CampaniaId, new SelectList(Model.ListaCampanias, "CampaniaId", "Nombre"), new { @class = "inline-element", @style = "width:130px", @onchange = "FiltrarMateriales();GetOrdenesSelect()" })
        </div>
        <div class="col-sm-3">
            <label class="inline-element" style="width:75px">Medio: </label>
            @Html.DropDownListFor(x => x.MedioId, new SelectList(Model.ListaMedios, "MedioId", "Nombre"), new { @class = "inline-element", @style = "width:130px", @onchange = "FiltrarProgramas();GetOrdenesSelect();SetPorcentajeBonificado()" })
        </div>
        <div id="datosMedios" style="display:none">
            @foreach (var medio in Model.ListaMedios)
            {
                <input type="text" id="PorcentajeBonificado_Medio_@(medio.MedioId)" value="@medio.PorcentajeDescuento" />
            }
        </div>

        <div class="col-sm-3">
            <label class="inline-element" style="width:150px">Bonficación (%): </label>
            @Html.TextBoxFor(x => x.PorcentajeBonificado, new { @onchange = "CalcularBonificaciones()", @class = "inline-element", @style = "width:55px;height:21.33px;padding-left:4px;text-align:right" })
        </div>
        <div class="col-sm-3">
            <label class="inline-element" style="width:75px">Emisión: </label>
            @Html.TextBoxFor(x => x.Emision, new { @class = "inline-element pull-right", style = "width:130px;height:21.33px;padding-left:4px;" })
        </div>
        <div class="col-sm-12" style="margin-top:15px">
            <label class="inline-element" style="width:75px">Anula a: </label>
            <select id="SelectOrdenAnulaA" class="inline-element" onchange="SetOrdenAnulaA()" style="padding-left:4px;">
                <option value="0">Seleccione orden</option>
            </select>
            @Html.HiddenFor(x => x.OrdenAnulada)
        </div>
    </div>
</div>

