@model Publinter.Models.Orden_Create_Model

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Admin/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
<link href="~/Content/Admin/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />

<script src="~/Content/Admin/bower_components/moment/min/moment.min.js"></script>
<script src="~/Content/Admin/bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="~/Content/Admin/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="~/Content/Utils.js"></script>

<style>
    .content-wrapper {
        display: inline-grid;
        min-height: -webkit-fill-available !important;
    }

    #mensajeExito {
        display: none;
        position: absolute;
        left: CALC(50%);
        bottom: 15px;
        padding: 10px;
        border-radius: 4px;
        color: white;
        background-color: rgb(63, 175, 82);
        width: 200px;
    }

    #mensajeErrorBack {
        display: none;
        position: absolute;
        left: CALC(50%);
        bottom: 15px;
        padding: 10px;
        border-radius: 4px;
        color: white;
        background-color: #da6262;
        width: 250px;
    }

    th {
        text-align: center;
    }

    td {
        text-align: center;
        border: 1px solid;
    }

    tr {
        height: 20px
    }

    .dato {
        width: 25px;
    }

    .noHabil {
        background-color: #ececec;
    }

    th {
        padding: 5px;
    }

    .tdBlack {
        width: 200px;
        background-color: black;
        color: white;
    }

    .txtEmisiones {
        width: 25px;
        height: 40px;
        text-align: center;
        border: none;
    }

    .div_add_linea {
        position: absolute;
        left: 6px;
        top: 48px;
    }

    .inpBonificado {
        background-color: #daffda;
    }

</style>

<script>

    $(document).ready(function () {

        $("input.txtEmisiones").keypress(function (e) {

            if (e.wich) {

            }
        });
        $("#CampaniaId").trigger("change");
        $("#MedioId").trigger("change");

        $("#SelectOrdenAnulaA").select2(
            { language: "es" }
        );
        $("#SelectOrdenDeCompra").select2(
            { language: "es" }
        );

        var cantLineas = $(".lineaOrden").length;
        for (var i = 0; i < cantLineas; i++) {
            var cantLineasInternas = $(".LineaInterna_" + i).length;
            for (var e = 0; e < cantLineasInternas; e++) {
                SetPrograma(i, e);
                SetMaterial(i, e);
            }
        }

        $("#Emision").val(formattedDate($("#Emision").val()));

        $("#Emision").daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            "autoApply": true,
            "showCustomRangeLabel": false,
            locale: {
                format: 'D/M/YYYY'
            }
        });

        $("#TotalOrden").focusout(function () {
            TotalOrdenOnChange();
        });

        SetPorcentajeBonificado();

        //doc = new jsPDF();
        specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };

        $(".txtEmisiones").focusin(function () {
            this.select();
        });

    });

    function AgregarPrimeraLinea()
    {
        var form = $("#formOrden");
        $(".btnLineas").attr("disabled","disabled")
        $.ajax({
            url: '@Url.Action("AgregarPrimeraLinea", "Orden")',
            type: 'POST',
            dataType: 'json',
            data: form.serialize(),
            success: function (data) {
                $('#divLineas').append(data.html);

                //FiltrarProgramas();
                //FiltrarMateriales();

                SetPrograma(0,0);
                SetMaterial(0,0);
                CalcularTotalLinea(data.index);
                CalcularBonificaciones();
            }
        });
    }

    function AgregarSiguienteMes()
    {
        var form = $("#formOrden");
        $(".btnLineas").attr("disabled","disabled")
        $.ajax({
            url: '@Url.Action("AgregarSiguienteMes", "Orden")',
            type: 'POST',
            dataType: 'json',
            data: form.serialize(),
            success: function (data) {
                $('#divLineas').append(data.html);

                //FiltrarProgramas();
                //FiltrarMateriales();

                SetPrograma(data.index, 0);
                SetMaterial(data.index, 0);
                CalcularTotalLinea(data.index);
                CalcularBonificaciones();
            }
        });
    }

    function CopiarUltimoMes()
    {
        var form = $("#formOrden");
        $(".btnLineas").attr("disabled","disabled")
        $.ajax({
            url: '@Url.Action("CopiarUltimoMes", "Orden")',
            type: 'POST',
            dataType: 'json',
            data: form.serialize(),
            success: function (data) {
                $('#divLineas').append(data.html);

                //FiltrarProgramas();
                //FiltrarMateriales();

                for(e = 0; e < data.indexInterno; e++)
                {
                    SetPrograma(data.index, e);
                    SetMaterial(data.index, e);
                }     
                
                CalcularTotalLinea(data.index);
                CalcularBonificaciones();
            }
        });
    }

    function AgregarLineaInterna(indexLinea)
    {
        $("#IndexLineaParaAgregar").val(indexLinea);

        var form = $("#formOrden");
        $(".btnLineas").attr("disabled","disabled")

        $.ajax({
            url: '@Url.Action("AgregarLineaInterna", "Orden")',
            type: 'POST',
            dataType: 'json',
            data: form.serialize(),
            success: function (data) {
                $('#table_Linea_' + indexLinea + " tbody").append(data.html);

                FiltrarNuevosProgramas();
                FiltrarNuevosMateriales();

                SetPrograma(indexLinea, data.indexLineaInterna);
                SetMaterial(indexLinea, data.indexLineaInterna);
                CalcularBonificacion(indexLinea, data.indexLineaInterna);
                //CalcularTotalLineaInterna(data.index); //hacer
            }
        });
    }

    function DeleteLineaInterna(index_linea, index_interna)
    {
        $("#Lineas_" + index_linea + "__LineasInternasOrden_" + index_interna + "__Deleted").val("True");

        $(".LineaInterna_" + index_linea + "_" + index_interna).hide();
        $(".LineaInterna_" + index_linea + "_" + index_interna).addClass("deleted");

        CalcularBonificacion(index_linea, index_interna);
        CalcularTotalOrden();
    }

    function GetOrdenesSelect()
    {
        var medioId = $("#MedioId").val();
        var campaniaId = $("#CampaniaId").val();

        $.ajax({
            url: '@Url.Action("GetOrdenesSelect", "Orden")',
            type: 'POST',
            dataType: 'json',
            data: { campaniaId: campaniaId, medioId: medioId },
            success: function (data) {
                $("#SelectOrdenAnulaA").html(data);
                $("#SelectOrdenAnulaA").trigger('change');
            }
        });
    }

    function GetOrdenesDeCompraSelect()
    {
        var medioId = $("#MedioId").val();

        $.ajax({
            url: '@Url.Action("GetOrdenesDeCompraSelect", "Orden")',
            type: 'POST',
            dataType: 'json',
            data: { medioId: medioId },
            success: function (data) {
                $("#SelectOrdenDeCompra").html(data);
                $("#SelectOrdenDeCompra").trigger('change');
            }
        });
    }

    function SetOrdenAnulaA()
    {
        var ordenAnulada = $("#SelectOrdenAnulaA").val();
        $("#OrdenAnulada").val(ordenAnulada);
    }

    function SetOrdenDeCompra()
    {
        var ordenDeCompra = $("#SelectOrdenDeCompra").val();
        $("#OrdenDeCompraId").val(ordenDeCompra);

        if(ordenDeCompra != "0")
        {
            var saldo = $("#SelectOrdenDeCompra option:selected").data("saldo");

            $("#Saldo_OrdenDeCompra").text("Saldo actual: " + parseFloat(saldo) + " segundos.")
        }
        else
        {
            $("#Saldo_OrdenDeCompra").text("");
        }
    }

    function SetPrograma(index, index_interno)
    {
        var progId = $("#Programa_" + index + "_" + index_interno).val();
        $("#Lineas_" + index + "__LineasInternasOrden_" + index_interno + "__ProgramaId").val(progId);

        CalcularTotalLinea(index);
    }

    function SetMaterial(index, index_interno)
    {
        var matId = $("#Material_" + index + "_" + index_interno).val();
        $("#Lineas_" + index + "__LineasInternasOrden_" + index_interno + "__MaterialId").val(matId);

        CalcularTotalLinea(index);
    }

    function CalcularTotalLinea(index)
    {
        var totalLinea = 0;
        var totalLinea_segundos = 0;

        var bonificada = $("#Lineas_" + index + "__Bonificada").is(':checked');
        
        if(!bonificada)
        {
            for(var e = 0; e < $(".LineaInterna_" + index).length; e++)
            {
                var precio = parseFloat($("#Programa_" + index + "_" + e + " option:selected").data("precio"));
                var duracion = parseInt($("#Material_" + index + "_" + e + " option:selected").data("duracion"));
                var nroDias = $(".dia_" + index + "_" + e).length;
                var emisiones = 0;
                var deleted = $(".LineaInterna_" + index + "_" + e).hasClass("deleted");

                if (!deleted)
                {
                    for (var i = 0; i < nroDias; i++)
                    {
                        var emisionesDia = parseInt($("#Lineas_" + index + "__LineasInternasOrden_" + e + "__Mes_Dias_" + i + "__NroEmisiones").val());

                        var totalDia = emisionesDia * precio * duracion;
                        $("#Lineas_" + index + "__LineasInternasOrden_" + e + "__Mes_Dias_" + i + "__TotalDia").val(totalDia);

                        emisiones += emisionesDia;
                    }

                    var totalLineaInterna = precio * emisiones * duracion;

                    $("#Lineas_" + index + "__LineasInternasOrden_" + e + "__TotalLineaInterna").val(totalLineaInterna);

                    //Total en segundos
                    totalLinea_segundos += duracion * emisiones;

                    //Total en pesos
                    totalLinea += totalLineaInterna;
                }
            }
        }

        $("#Lineas_" + index + "__TotalLineaSegundos").val(totalLinea_segundos);
        
        $("#totalMes_" + index).text("$ " + numberThousandSeparator(floatToStringDecimals(totalLinea, 2)));
        $("#Lineas_" + index + "__TotalLinea").val(totalLinea);

        CalcularTotalOrden();
    }

    function CalcularTotalOrden()
    {
        var cantLineas = $(".lineaOrden").length;
        var totalOrden = 0;
        var totalOrden_segundos = 0;

        for(var i = 0; i < cantLineas; i++)
        {
            totalOrden += parseFloat($("#Lineas_" + i + "__TotalLinea").val());
            totalOrden_segundos += parseFloat($("#Lineas_" + i + "__TotalLineaSegundos").val());
        }

        $("#totalOrdenSegundos").text(" (" + numberThousandSeparator(floatToStringDecimals(totalOrden_segundos, 2)) + " segundos.)");
        $("#TotalOrdenSegundos").val(totalOrden_segundos);

        $("#totalOrden").text(numberThousandSeparator(floatToStringDecimals(totalOrden, 2)));
        $("#TotalOrden").val(totalOrden);
    }

    function FiltrarProgramas()
    {
        var medioId = parseInt($("#MedioId").val());

        $.ajax({
            url: '@Url.Action("GetProgramas", "Medio")',
            type: 'POST',
            dataType: 'json',
            data: { "medioId" : medioId },
            success: function (data) {
                $(".Programa").html(data.html);
            }
        });
    }

    function FiltrarNuevosProgramas()
    {
        var medioId = parseInt($("#MedioId").val());

        $.ajax({
            url: '@Url.Action("GetProgramas", "Medio")',
            type: 'POST',
            dataType: 'json',
            data: { "medioId" : medioId },
            success: function (data) {
                $(".Programa.Nuevo").html(data.html);
                $(".Programa.Nuevo").removeClass("Nuevo");
            }
        });
    }

    function FiltrarMateriales()
    {
        var campaniaId = $("#CampaniaId").val();

        $.ajax({
            url: '@Url.Action("GetMateriales", "Campania")',
            type: 'POST',
            dataType: 'json',
            data: { "campaniaId": campaniaId },
            success: function (data) {
                $(".Material").html(data.html);
            }
        });
    }

    function FiltrarNuevosMateriales()
    {
        var campaniaId = $("#CampaniaId").val();

        $.ajax({
            url: '@Url.Action("GetMateriales", "Campania")',
            type: 'POST',
            dataType: 'json',
            data: { "campaniaId": campaniaId },
            success: function (data) {
                $(".Material.Nuevo").html(data.html);
                $(".Material.Nuevo").removeClass("Nuevo");
            }
        });
    }

    function openMensajeExito()
    {
        $("#mensajeExito").fadeIn();
        setTimeout(function () { $("#mensajeExito").fadeOut(); $("#errorMsgDiv").fadeOut(); }, 10000)
    }

    function openMensajeErrorBack()
    {
        $("#mensajeErrorBack").fadeIn();
        setTimeout(function () { $("#mensajeErrorBack").fadeOut(); $("#errorMsgDivBack").fadeOut(); }, 10000)
    }

    function ShowMsgErrorComp()
    {
        $("#errorMsgDiv").slideDown();
    }

    function closeMessage()
    {
        $("#mensajeExito").fadeOut();
        $("#mensajeError").fadeOut();
        $("#errorMsgDiv").fadeOut();
    }

    function LimpiarDatos()
    {
        ReiniciarLineas();
        AddNumero();
        $("#SelectOrdenAnulaA").val("0");
    }

    function ReiniciarLineas()
    {
        $("#divLineas").html("");
        AgregarPrimeraLinea();
    }

    function AddNumero()
    {
        $("#NroOrden").val(parseInt($("#NroOrden").val()) + 1);
        $("h3.title").text("Órden Nro. " + $("#NroOrden").val());
    }

    function GuardarOrden()
    {
        var form = $("#formOrden");
        $("#btnGuardar").attr("disabled", "disabled");
        $.ajax({
            url: '@Url.Action("Create", "Orden")',
            type: 'POST',
            dataType: 'json',
            data: form.serialize(),
            success: function (data) {
                if(data.value)
                {
                    //LimpiarDatos();
                    AddNumero();
                    $("#SelectOrdenAnulaA").val("0");

                    $("#txtMensajeExito").attr("href", "IndexDetalle");
                    $("#btnExportPdf").removeAttr("disabled");
                    openMensajeExito();
                }
                else
                {
                    $("#msgErrorBack").text(data.errorMsg);
                    openMensajeErrorBack();
                }
                $("#btnGuardar").removeAttr("disabled");
            }
        });
    }

    function SetBonificada(index)
    {
        var value = $("#Lineas_" + index + "__Bonificada").is(':checked');

        if(value)
            $(".dias_" + index).css("background-color", "#daffda");
        else
            $(".dias_" + index).css("background-color", "white");

        CalcularTotalLinea(index);
    }
    function onchangeEmailMedio(value) {
        if (value != "-1") {
            $("#Email_Destinatario").val(value);//.attr("disabled", "disabled");
        }
        else {
            $("#Email_Destinatario").val("");//.removeAttr("disabled");

        }
    }
    function GetEmailsPorMedioSuccess(data, index) {
        $("#Email_destino").html(data);
    }
    function OnchangeEmail(value) {
        if (value != "") {
            $("#guardarYenviar").removeAttr("disabled");
        } else {
            $("#guardarYenviar").attr("disabled", "disabled");
        }
    }
    //funcion para exportar el form a pdf.
    function ExportPdf(val) {
        $("#GuardarEnviarDescargar").val(val);
        if (val == 2) {
            $("#btnLunchModalEmail").click();
            $("#formOrden").attr("action", "/Orden/SendEmailWithPdf");
        } else {
            $("#formOrden").submit();
        }
    }

    function OnclickInversionTotal() {
        $("#totalOrden").hide();
        $("#TotalOrden").fadeIn().focus();
    }
    
    function TotalOrdenOnChange() 
    {
        var total = $("#TotalOrden").val();

        if(total != "" && total != undefined && parseFloat(total) != 0)
        {
            $(".totalMes").text("-");
            $("#totalOrden").text(numberThousandSeparator(floatToStringDecimals($("#TotalOrden").val(), 2)));
        }

        $("#totalOrden").show()
        $("#TotalOrden").hide();
    }

    function SetPorcentajeBonificado()
    {
        var medio = $("#MedioId").val();
        var desc_medio = $("#PorcentajeBonificado_Medio_" + medio).attr("value");

        $("#PorcentajeBonificado").val(floatToStringDecimals(parseFloat(desc_medio), 2)).trigger("change");
    }

    function CalcularBonificaciones()
    {
        var porcentaje = parseFloat($("#PorcentajeBonificado").val());
        var cantLineas = $(".lineaOrden").length;
        
        if(porcentaje > 0)
        {
            $(".LineaBonificacion").show();

            for(var i = 0; i < cantLineas; i++)
            {
                var cantInternas = $(".LineaInterna_" + i).length;

                for(var e = 0; e < cantInternas; e++)
                {
                    var emisiones = 0;
                    var emisionesBonificadas = 0;
                    var deleted = $(".LineaInterna_" + i + "_" + e).hasClass("deleted");
                    var nroDias = $(".dia_" + i + "_" + e).length;

                    if (!deleted)
                    {   
                        for (var d = 0; d < nroDias; d++)
                        {
                            var emisionesDia = parseInt($("#Lineas_" + i + "__LineasInternasOrden_" + e + "__Mes_Dias_" + d + "__NroEmisiones").val());
                            var emisionesBonificadasDia = parseInt($("#Lineas_" + i + "__LineasInternasOrden_" + e + "__LineaBonificada_Mes_Dias_" + d + "__NroEmisiones").val());
                        
                            emisiones += emisionesDia;
                            emisionesBonificadas += emisionesBonificadasDia;
                        }
                    
                        var cantBonificadas = Math.round(emisiones / 100 * porcentaje);
                    
                        $("#Lineas_" + i + "__LineasInternasOrden_" + e + "__LineaBonificada_CantidadTotalBonificada").val(cantBonificadas);
                    
                        $("#Text_" + i + "_" + e + "_CantidadBonificadas").text("Bonificadas (" + (cantBonificadas - emisionesBonificadas) + " disponibles)");

                        if(cantBonificadas < emisionesBonificadas)
                        {
                            $("#Text_" + i + "_" + e + "_CantidadBonificadas").css("color","red");
                        }
                        else
                        {
                            $("#Text_" + i + "_" + e + "_CantidadBonificadas").css("color","#666");
                        }
                    }
                }
            }
        }
        else
        {
            $(".LineaBonificacion").hide();
        }      
    }

    function CalcularBonificacion(linea, lineaInterna)
    {
        var porcentaje = parseFloat($("#PorcentajeBonificado").val());
        var emisiones = 0;
        var emisionesBonificadas = 0;
        var deleted = $(".LineaInterna_" + linea + "_" + lineaInterna).hasClass("deleted");
        var nroDias = $(".dia_" + linea + "_" + lineaInterna).length;

        if (!deleted)
        {   
            for (var d = 0; d < nroDias; d++)
            {
                var emisionesDia = parseInt($("#Lineas_" + linea + "__LineasInternasOrden_" + lineaInterna + "__Mes_Dias_" + d + "__NroEmisiones").val());
                var emisionesBonificadasDia = parseInt($("#Lineas_" + linea + "__LineasInternasOrden_" + lineaInterna + "__LineaBonificada_Mes_Dias_" + d + "__NroEmisiones").val());
                        
                emisiones += emisionesDia;
                emisionesBonificadas += emisionesBonificadasDia;
            }
                    
            var cantBonificadas = Math.round(emisiones / 100 * porcentaje);
                    
            $("#Lineas_" + linea + "__LineasInternasOrden_" + lineaInterna + "__LineaBonificada_CantidadTotalBonificada").val(cantBonificadas);
                    
            $("#Text_" + linea + "_" + lineaInterna + "_CantidadBonificadas").text("Bonificadas (" + (cantBonificadas - emisionesBonificadas) + " disponibles)");

            if(cantBonificadas < emisionesBonificadas)
            {
                $("#Text_" + linea + "_" + lineaInterna + "_CantidadBonificadas").css("color","red");
            }
            else
            {
                $("#Text_" + linea + "_" + lineaInterna + "_CantidadBonificadas").css("color","#666");
            }
        }
    }

</script>

<div class=" register-box-body col-sm-12">

    @using (Html.BeginForm("Create", "Orden", FormMethod.Post, new { @id = "formOrden" }))
    {

        <div id="wrap_orden">
            <div id="divEncabezado">
                @Html.Partial("~/Views/Orden/CreateEncabezado.cshtml", Model)
            </div>
            <div id="divLineas">
                @Html.Partial("~/Views/Orden/CreateLineas.cshtml", Model)
            </div>
            <div id="divFooter">
                @Html.Partial("~/Views/Orden/CreateFooter.cshtml", Model)
            </div>
        </div>

        @Html.HiddenFor(x => x.GuardarEnviarDescargar)
    }

</div>
<div class=" register-box-body col-sm-12">

    @using (Html.BeginForm("EnviarOrdenPorEmail", "Orden", FormMethod.Post, new { @id = "formSendOrden" }))
    {

        @Html.HiddenFor(x => x.GuardarEnviarDescargar)
        <!--modal email-->
        @Html.Partial("~/Views/Orden/Modal_Email.cshtml")

    }

</div>

<div id="mensajeExito">
    <div style="opacity: 1; margin-top: 0px;">
        <div>
            <a href="#" class="pull-right" onclick="closeMessage()" style="color:white"><i class="fa fa-close" aria-hidden="true"></i></a>
            <a id="txtMensajeExito" target="_blank" href="" style="font-weight:bold;color:white"></a> generada correctamente.
        </div>
    </div>
</div>

<div id="mensajeErrorBack">
    <div style="opacity: 1; margin-top: 0px;">
        <div>
            <a href="#" class="pull-right" onclick="closeMessage()" style="color:white"><i class="fa fa-close" aria-hidden="true"></i></a>
            <span id="spanErrorCompBack">Hubo un error al generar la órden.</span>
            <div>
                <a id="errorMsgVerDetalle" href="javascript:ShowMsgErrorComp()" style="color:white;font-size:12px">Ver detalle</a>
                <div id="errorMsgDiv" style="display:none">
                    <span id="msgError"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Utils.js"></script>
<script src="~/Content/Admin/bower_components/select2/dist/js/select2.min.js"></script>
@*<script src="~/Content/JS/jsPdf/jspdf.min.js"></script>
<script src="~/Content/JS/jsPdf/jspdf-autotable.js"></script>
<script src="~/Scripts/html2canvas.js"></script>*@


