@model Publinter.Models.Orden_Create_Model

<style>
    th {
        text-align: center;
    }

    td {
        text-align: center;
        border: 1px solid;
    }

    tr {
        height: 20px
    }
    
    .dato {
        width:25px;
    }

    .noHabil {
        background-color: #ececec;
    }

    th {
        padding: 5px;
    }

    .tdBlack {
        width: 100px;
        background-color: black;
        color: white;
    }

    .txtEmisiones {
        width: 25px;
        height: 40px;
        text-align: center;
        border: none;
    }
</style>

<div id="Lineas">
    @for (var i = 0; i < Model.Lineas.Count; i++)
    {
        <div class="col-sm-12">
            <table>
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th colspan="31" style="background-color:lightgrey">
                            @Model.Lineas[i].Mes.MesNombre

                            <span id="totalMes_@i" class="pull-right">$ 0.00</span>

                            @Html.HiddenFor(x => x.Lineas[i].MesId)
                            @Html.HiddenFor(x => x.Lineas[i].Mes.MesId)
                            @Html.HiddenFor(x => x.Lineas[i].Mes.MesNombre)
                            @Html.HiddenFor(x => x.Lineas[i].Mes.MesNumero)
                            @Html.HiddenFor(x => x.Lineas[i].Mes.MesAnio)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" class="tdBlack">Ubicación</td>
                        <td rowspan="2" class="tdBlack">Materiales</td>
                        @foreach (var dia in Model.Lineas[i].Mes.Dias)
                        {
                            if (dia.DiaNombre != "Sábado" && dia.DiaNombre != "Domingo")
                            {
                                <td class="dato">@dia.DiaNombre[0]</td>
                            }
                            else
                            {
                                <td class="dato noHabil">@dia.DiaNombre[0]</td>
                            }
                        }

                        @if (Model.Lineas[i].Mes.Dias.Count < 31)
                        {
                            if (Model.Lineas[i].Mes.Dias.Count == 30)
                            {
                                <td class="dato"></td>
                            }
                            if (Model.Lineas[i].Mes.Dias.Count == 29)
                            {
                                <td class="dato"></td>
                                <td class="dato"></td>
                            }
                            if (Model.Lineas[i].Mes.Dias.Count == 28)
                            {
                                <td class="dato"></td>
                                <td class="dato"></td>
                                <td class="dato"></td>
                            }
                        }
                    </tr>
                    <tr>
                        @foreach (var dia in Model.Lineas[i].Mes.Dias)
                        {
                            if (dia.DiaNombre != "Sábado" && dia.DiaNombre != "Domingo")
                            {
                                <td class="dato">@dia.DiaNumero</td>
                            }
                            else
                            {
                                <td class="dato noHabil">@dia.DiaNumero</td>
                            }
                        }

                        @if (Model.Lineas[i].Mes.Dias.Count < 31)
                        {
                            if (Model.Lineas[i].Mes.Dias.Count == 30)
                            {
                                <td class="dato"></td>
                            }
                            if (Model.Lineas[i].Mes.Dias.Count == 29)
                            {
                                <td class="dato"></td>
                                <td class="dato"></td>
                            }
                            if (Model.Lineas[i].Mes.Dias.Count == 28)
                            {
                                <td class="dato"></td>
                                <td class="dato"></td>
                                <td class="dato"></td>
                            }
                        }
                    </tr>
                    <tr>
                        <td rowspan="2">Programa</td>
                        <td rowspan="2">Material</td>

                        @for (var d = 0; d < Model.Lineas[i].Mes.Dias.Count; d++)
                        {
                            if (Model.Lineas[i].Mes.Dias[d].DiaNombre != "Sábado" && Model.Lineas[i].Mes.Dias[d].DiaNombre != "Domingo")
                            {
                                <td rowspan="2" class="dato">
                                    @Html.TextBoxFor(x => x.Lineas[i].Mes.Dias[d].NroEmisiones, new { @class = "txtEmisiones" })

                                    @Html.HiddenFor(x => x.Lineas[i].Mes.Dias[d].DiaId)
                                    @Html.HiddenFor(x => x.Lineas[i].Mes.Dias[d].DiaNombre)
                                    @Html.HiddenFor(x => x.Lineas[i].Mes.Dias[d].DiaNumero)
                                    @Html.HiddenFor(x => x.Lineas[i].Mes.Dias[d].TotalDia)
                                </td>
                            }
                            else
                            {
                                <td rowspan="2" class="dato noHabil">
                                    @Html.HiddenFor(x => x.Lineas[i].Mes.Dias[d].DiaId)
                                    @Html.HiddenFor(x => x.Lineas[i].Mes.Dias[d].NroEmisiones)
                                    @Html.HiddenFor(x => x.Lineas[i].Mes.Dias[d].DiaNombre)
                                    @Html.HiddenFor(x => x.Lineas[i].Mes.Dias[d].DiaNumero)
                                    @Html.HiddenFor(x => x.Lineas[i].Mes.Dias[d].TotalDia)
                                </td>
                            }
                        }

                        @if (Model.Lineas[i].Mes.Dias.Count < 31)
                        {
                            if (Model.Lineas[i].Mes.Dias.Count == 30)
                            {
                                <td rowspan="2" class="dato"></td>
                            }
                            if (Model.Lineas[i].Mes.Dias.Count == 29)
                            {
                                <td rowspan="2" class="dato"></td>
                                <td rowspan="2" class="dato"></td>
                            }
                            if (Model.Lineas[i].Mes.Dias.Count == 28)
                            {
                                <td rowspan="2" class="dato"></td>
                                <td rowspan="2" class="dato"></td>
                                <td rowspan="2" class="dato"></td>
                            }
                        }
                    </tr>
                    <tr>

                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>