@model Publinter.Models.Orden_Create_Model

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Admin/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

<script src="~/Content/Admin/bower_components/moment/min/moment.min.js"></script>
<script src="~/Content/Admin/bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="~/Content/Admin/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>

<style>
    .content-wrapper {
        display: inline-grid;
        min-height: -webkit-fill-available !important;
    }
</style>

<script>

    $(document).ready(function () {
        $("#Emision").daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            "autoApply": true,
            "showCustomRangeLabel": false,
            locale: {
                format: 'D/M/YYYY'
            }
        });
    })

    function AgregarSiguienteMes()
    {
        var form = $("#formOrden");
        $(".btnLineas").attr("disabled","disabled")
        $.ajax({
            url: '@Url.Action("AgregarSiguienteMes", "Orden")',
            type: 'POST',
            dataType: 'json',
            data: form.serialize(),
            success: function (data) {
                $('#divLineas').append(data.html);
            }
        });
    }

    function CopiarUltimoMes()
    {
        var form = $("#formOrden");
        $(".btnLineas").attr("disabled","disabled")
        $.ajax({
            url: '@Url.Action("CopiarUltimoMes", "Orden")',
            type: 'POST',
            dataType: 'json',
            data: form.serialize(),
            success: function (data) {
                $('#divLineas').append(data.html);
            }
        });
    }

</script>

<div class=" register-box-body col-sm-12">

    @using (Html.BeginForm("Create", "Orden", FormMethod.Post, new { @id = "formOrden" }))
    {
        <div id="divEncabezado">
            @Html.Partial("CreateEncabezado", Model)
        </div>

        <div id="divLineas">
            @Html.Partial("CreateLineas", Model)
        </div>

        <div id="divFooter">
            @Html.Partial("CreateFooter", Model)
        </div>
    }

</div>