@model Publinter.Models.Orden_Create_Model

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Admin/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

<script src="~/Content/Admin/bower_components/moment/min/moment.min.js"></script>
<script src="~/Content/Admin/bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="~/Content/Admin/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="~/Content/Utils.js"></script>

<style>
    .content-wrapper {
        display: inline-grid;
        min-height: -webkit-fill-available !important;
    }

    #mensajeExito {
        display: none;
        position: absolute;
        left: CALC(50%);
        bottom: 15px;
        padding: 10px;
        border-radius: 4px;
        color: white;
        background-color: rgb(63, 175, 82);
        width: 200px;
    }

    #mensajeErrorBack {
        display: none;
        position: absolute;
        left: CALC(50%);
        bottom: 15px;
        padding: 10px;
        border-radius: 4px;
        color: white;
        background-color: #da6262;
        width: 250px;
    }

    th {
        text-align: center;
    }

    td {
        text-align: center;
        border: 1px solid;
    }

    tr {
        height: 20px
    }

    .dato {
        width: 25px;
    }

    .noHabil {
        background-color: #ececec;
    }

    th {
        padding: 5px;
    }

    .tdBlack {
        width: 100px;
        background-color: black;
        color: white;
    }

    .txtEmisiones {
        width: 25px;
        height: 40px;
        text-align: center;
        border: none;
    }

    .div_add_linea {
        position: absolute;
        left: 6px;
        top: 48px;
    }
</style>

<script>

    $(document).ready(function () {


        $("input.txtEmisiones").keypress(function (e) {

            if (e.wich) {

            }
        });

        SetPrograma(0, 0);
        SetMaterial(0, 0);

        $("#Emision").val(formattedDate($("#Emision").val()));

        $("#Emision").daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            "autoApply": true,
            "showCustomRangeLabel": false,
            locale: {
                format: 'D/M/YYYY'
            }
        });
    })

    function AgregarPrimeraLinea()
    {
        var form = $("#formOrden");
        $(".btnLineas").attr("disabled","disabled")
        $.ajax({
            url: '@Url.Action("AgregarPrimeraLinea", "Orden")',
            type: 'POST',
            dataType: 'json',
            data: form.serialize(),
            success: function (data) {
                $('#divLineas').append(data.html);

                //FiltrarProgramas();
                //FiltrarMateriales();

                SetPrograma(0,0);
                SetMaterial(0,0);
                CalcularTotalLinea(data.index);
            }
        });
    }

    function AgregarSiguienteMes()
    {
        var form = $("#formOrden");
        $(".btnLineas").attr("disabled","disabled")
        $.ajax({
            url: '@Url.Action("AgregarSiguienteMes", "Orden")',
            type: 'POST',
            dataType: 'json',
            data: form.serialize(),
            success: function (data) {
                $('#divLineas').append(data.html);

                //FiltrarProgramas();
                //FiltrarMateriales();

                SetPrograma(data.index, 0);
                SetMaterial(data.index, 0);
                CalcularTotalLinea(data.index);
            }
        });
    }

    function CopiarUltimoMes()
    {
        var form = $("#formOrden");
        $(".btnLineas").attr("disabled","disabled")
        $.ajax({
            url: '@Url.Action("CopiarUltimoMes", "Orden")',
            type: 'POST',
            dataType: 'json',
            data: form.serialize(),
            success: function (data) {
                $('#divLineas').append(data.html);

                //FiltrarProgramas();
                //FiltrarMateriales();

                for(e = 0; e < data.indexInterno; e++)
                {
                    SetPrograma(data.index, e);
                    SetMaterial(data.index, e);
                }     
                
                CalcularTotalLinea(data.index);
            }
        });
    }

    function AgregarLineaInterna(indexLinea)
    {
        $("#IndexLineaParaAgregar").val(indexLinea);

        var form = $("#formOrden");
        $(".btnLineas").attr("disabled","disabled")

        $.ajax({
            url: '@Url.Action("AgregarLineaInterna", "Orden")',
            type: 'POST',
            dataType: 'json',
            data: form.serialize(),
            success: function (data) {
                $('#table_Linea_' + indexLinea + " tbody").append(data.html);

                //FiltrarProgramas();
                //FiltrarMateriales();

                SetPrograma(indexLinea, data.indexLineaInterna);
                SetMaterial(indexLinea, data.indexLineaInterna);
                //CalcularTotalLineaInterna(data.index); //hacer
            }
        });
    }

    function SetPrograma(index, index_interno)
    {
        var progId = $("#Programa_" + index + "_" + index_interno).val();
        $("#Lineas_" + index + "__LineasInternasOrden_" + index_interno + "__ProgramaId").val(progId);

        CalcularTotalLinea(index);
    }

    function SetMaterial(index, index_interno)
    {
        var matId = $("#Material_" + index + "_" + index_interno).val();
        $("#Lineas_" + index + "__LineasInternasOrden_" + index_interno + "__MaterialId").val(matId);

        CalcularTotalLinea(index);
    }

    function CalcularTotalLinea(index)
    {
        var totalLinea = 0;

        var bonificada = $("#Lineas_" + index + "__Bonificada").is(':checked');
        
        if(!bonificada)
        {
            for(var e = 0; e < $(".LineaInterna_" + index).length; e++)
            {
                var precio = parseFloat($("#Programa_" + index + "_" + e + " option:selected").data("precio"));
                var duracion = parseInt($("#Material_" + index + "_" + e + " option:selected").data("duracion"));
                var nroDias = $(".dia_" + index + "_" + e).length;
                var emisiones = 0;

                for(var i = 0; i < nroDias; i++)
                {
                    var emisionesDia = parseInt($("#Lineas_" + index + "__LineasInternasOrden_" + e + "__Mes_Dias_" + i + "__NroEmisiones").val());

                    var totalDia = emisionesDia * precio * duracion;
                    $("#Lineas_" + index + "__LineasInternasOrden_" + e + "__Mes_Dias_" + i + "__TotalDia").val(totalDia);

                    emisiones += emisionesDia;
                }

                var totalLineaInterna = precio * emisiones * duracion;

                $("#Lineas_" + index + "__LineasInternasOrden_" + e + "__TotalLineaInterna").val(totalLineaInterna);

                totalLinea += totalLineaInterna;
            }
        }

        $("#totalMes_" + index).text("$ " + numberThousandSeparator(floatToStringDecimals(totalLinea, 2)));
        $("#Lineas_" + index + "__TotalLinea").val(totalLinea);

        CalcularTotalOrden();
    }

    function CalcularTotalOrden()
    {
        var cantLineas = $(".lineaOrden").length;
        var totalOrden = 0;

        for(var i = 0; i < cantLineas; i++)
        {
            totalOrden += parseFloat($("#Lineas_" + i + "__TotalLinea").val());
        }

        $("#totalOrden").text(numberThousandSeparator(floatToStringDecimals(totalOrden, 2)));
        $("#TotalOrden").val(totalOrden);
    }

    function FiltrarProgramas()
    {
        var medioId = parseInt($("#MedioId").val());

        $.ajax({
            url: '@Url.Action("GetProgramas", "Medio")',
            type: 'POST',
            dataType: 'json',
            data: { "medioId" : medioId },
            success: function (data) {
                $(".Programa").html(data.html);
            }
        });
    }

    function FiltrarMateriales()
    {
        var campaniaId = $("#CampaniaId").val();

        $.ajax({
            url: '@Url.Action("GetMateriales", "Campania")',
            type: 'POST',
            dataType: 'json',
            data: { "campaniaId": campaniaId },
            success: function (data) {
                $(".Material").html(data.html);
            }
        });
    }

    function openMensajeExito()
    {
        $("#mensajeExito").fadeIn();
        setTimeout(function () { $("#mensajeExito").fadeOut(); $("#errorMsgDiv").fadeOut(); }, 10000)
    }

    function openMensajeErrorBack()
    {
        $("#mensajeErrorBack").fadeIn();
        setTimeout(function () { $("#mensajeErrorBack").fadeOut(); $("#errorMsgDivBack").fadeOut(); }, 10000)
    }

    function ShowMsgErrorComp() {
        $("#errorMsgDiv").slideDown();
    }

    function closeMessage()
    {
        $("#mensajeExito").fadeOut();
        $("#mensajeError").fadeOut();
        $("#errorMsgDiv").fadeOut();
    }

    function LimpiarDatos()
    {
        ReiniciarLineas();
        AddNumero();
    }

    function ReiniciarLineas()
    {
        $("#divLineas").html("");
        AgregarPrimeraLinea();
    }

    function AddNumero()
    {
        $("#NroOrden").val(parseInt($("#NroOrden").val()) + 1);
        $("h3.title").text("Órden Nro. " + $("#NroOrden").val());
    }

    function GuardarOrden()
    {
        var form = $("#formOrden");
        $("#btnGuardar").attr("disabled", "disabled");
        $.ajax({
            url: '@Url.Action("Create", "Orden")',
            type: 'POST',
            dataType: 'json',
            data: form.serialize(),
            success: function (data) {
                if(data.value)
                {
                    LimpiarDatos();
                    $("#txtMensajeExito").text(data.descripcion);
                    $("#txtMensajeExito").attr("href", "IndexDetalle");
                    openMensajeExito();
                }
                else
                {
                    $("#msgErrorBack").text(data.errorMsg);
                    openMensajeErrorBack();
                }
                $("#btnGuardar").removeAttr("disabled");
            }
        });
    }

    function SetBonificada(index)
    {
        var value = $("#Lineas_" + index + "__Bonificada").is(':checked');

        if(value)
            $(".dias_" + index).css("background-color", "#daffda");
        else
            $(".dias_" + index).css("background-color", "white");

        CalcularTotalLinea(index);
    }


    //funcion para exportar el form a pdf.
    function ExportPdf() {
        var doc = new jsPDF('p', 'pt');
        var elem = document.getElementById("basic-table");
        var res = doc.autoTableHtmlToJson(elem);
        doc.autoTable(res.columns, res.data);
        doc.save("table.pdf");
        //var doc = new jsPDF();
        //var specialElementHandlers = {
        //    '#editor': function (element, renderer) {
        //        return true;
        //    }
        //};
        //doc.fromHTML($('#Lineas').html(), 15, 15, {
        //    'width': 170,
        //    'elementHandlers': specialElementHandlers
        //});
        //doc.save('sample-file.pdf');


        // This code is collected but useful, click below to jsfiddle link.
        @*var formHtml = $("#formOrden").html();
        var object = { "html": "" };


        $.ajax({
            type: "POST",
            traditional: true,
            data: object,
            url: '@Url.Action("pdfCrete", "Orden")',
            success: function (e) {
                ExportPdfSuccess(e, index);
            }
        });*@
    }

    function ExportPdfSuccess(data, index) { }

    function demoFromHTML1() {


        var faker = window.faker;

        var examples = {};

        // Basic - shows what a default table looks like
        examples.basic = function () {
            var doc = new jsPDF('p', 'pt');
            var elem = document.getElementById("tableOrden");
            var res = doc.autoTableHtmlToJson(elem);
            doc.autoTable(res.columns, res.data);
            doc.save("table.pdf");
          //  var doc = new jsPDF();

          //  // From HTML
          //  doc.autoTable({ html: '.table' });

          //  // From Javascript
          //  let finalY = doc.previousAutoTable.finalY;
          //  doc.text("From javascript arrays", 14, finalY + 15);
            
          //  doc.text("From HTML with CSS", 14, finalY + 15);
 
          //doc.save("taple.pdf")
        };

       

    }
    function demoFromHTML() {
        var pdf = new jsPDF('p', 'pt', 'letter');
        // source can be HTML-formatted string, or a reference
        // to an actual DOM element from which the text will be scraped.
        source = $('#tableOrden')[0];

        // we support special element handlers. Register them with jQuery-style 
        // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
        // There is no support for any other type of selectors 
        // (class, of compound) at this time.
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#bypassme': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"
                return true
            }
        };
        margins = {
            top: 80,
            bottom: 60,
            left: 10,
            width: 700
        };
        // all coords and widths are in jsPDF instance's declared units
        // 'inches' in this case
        pdf.fromHTML(
        source, // HTML string or DOM elem ref.
        margins.left, // x coord
        margins.top, { // y coord
            'width': margins.width, // max width of content on PDF
            'elementHandlers': specialElementHandlers
        },

        function (dispose) {
            // dispose: object with X, Y of the last line add to the PDF 
            //          this allow the insertion of new lines after html
            pdf.save('Test.pdf');
        }, margins);
    }
</script>

<div class=" register-box-body col-sm-12">

    @using (Html.BeginForm("Create", "Orden", FormMethod.Post, new { @id = "formOrden" }))
    {
        <div id="divEncabezado">
            @Html.Partial("CreateEncabezado", Model)
        </div>

        <div id="divLineas">
            @Html.Partial("CreateLineas", Model)
        </div>

        <div id="divFooter">
            @Html.Partial("CreateFooter", Model)
        </div>
        
    }

</div>

<div id="mensajeExito">
    <div style="opacity: 1; margin-top: 0px;">
        <div>
            <a href="#" class="pull-right" onclick="closeMessage()" style="color:white"><i class="fa fa-close" aria-hidden="true"></i></a>
            <a id="txtMensajeExito" target="_blank" href="" style="font-weight:bold;color:white"></a> generada correctamente.
        </div>
    </div>
</div>

<div id="mensajeErrorBack">
    <div style="opacity: 1; margin-top: 0px;">
        <div>
            <a href="#" class="pull-right" onclick="closeMessage()" style="color:white"><i class="fa fa-close" aria-hidden="true"></i></a>
            <span id="spanErrorCompBack">Hubo un error al generar la órden.</span>
            <div>
                <a id="errorMsgVerDetalle" href="javascript:ShowMsgErrorComp()" style="color:white;font-size:12px">Ver detalle</a>
                <div id="errorMsgDiv" style="display:none">
                    <span id="msgError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Utils.js"></script>
<script src="~/Content/JS/jsPdf/jspdf.min.js"></script>
<script src="~/Content/JS/jsPdf/jspdf-autotable.js"></script>