@model DataModule.Entities.Material
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SelectList ListaTipos = new SelectList(ViewBag.TiposMaterial, "Value", "Text");
    SelectList ListaClientes = new SelectList(ViewBag.Clientes, "Value", "Text");
}

<script>
    $(document).ready(function () {
        $("#DuracionSegundos").val("");
    })
</script>

<div class="register-box-body col-lg-8 col-md-10" style="">
    <p style="font-size: 22px;padding-bottom: 7px;margin-bottom:10px;">Nuevo material</p>

    @using (Html.BeginForm("Create", "Material", FormMethod.Post, new { enctype = "multipart/form-data", @id = "MaterialCreateForm" }))
    {
        <div style="height:49px;">
            <div class="col-xs-6" style="padding-left:0px">
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control", @placeholder = "Titulo" })
                </div>
            </div>
            <div class="col-xs-6" style="padding-right:0px">
                <div class="form-group has-feedback">
                    @Html.DropDownListFor(x => x.TipoMaterialId, ListaTipos, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div style="height:49px;">
            <div class="col-xs-6" style="padding-left:0px">
                <div class="form-group has-feedback">
                    @Html.DropDownListFor(x => x.ClienteId, ListaClientes, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-6" style="padding-right:0px">
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(x => x.DuracionSegundos, new { @class = "form-control", @type = "number", @min = "0", @placeholder = "Duracion (segundos)" })
                </div>
            </div>
        </div>
        <div style="height:49px;">
            <div class="col-xs-12" style="padding-left:0px;padding-right:0px">
                @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control", @placeholder = "Descripcion" })
            </div>
        </div>

        <div style="margin-top:20px">
            <div class="col-xs-8" style="padding-left:0px">
                <span id="Mensaje" style="display:none;"></span>
            </div>
            <!-- /.col -->
            <div class="col-xs-4" style="padding-right:0px">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Guardar</button>
            </div>
            <!-- /.col -->
        </div>
    }
</div><!-- /.register-box -->

<script src="~/Scripts/Utils.js"></script>
<script src="~/Scripts/Publinter/Usuario.js"></script>

