@model DataModule.Entities.Medio
@{
    int index = (ViewData["indexContacto"] == null) ? 0 : (int)ViewData["indexContacto"];
}

<tr id="tr_@index">
    <td>
        @Html.TextBoxFor(x => x.Contactos[index].Nombre, new { @class = "form-control", @placeholder = "Nombre", @style = "width: 100%;border: 1px solid #ccc;height: 30px; " })
        @*<span class="glyphicon glyphicon-user form-control-feedback"></span>*@
    </td>
    <td>
        @Html.TextBoxFor(x => x.Contactos[index].Email, new { @class = "form-control", @placeholder = "Email", @style = "width: 100%;border: 1px solid #ccc;height: 30px; " })
        @*<span class="glyphicon glyphicon-user form-control-feedback"></span>*@
    </td>
    <td>
        @Html.TextBoxFor(x => x.Contactos[index].Telefono, new { @class = "form-control", @placeholder = "Teléfono", @style = "width: 100%;border: 1px solid #ccc;height: 30px; " })
    </td>
    <td class="text-center">
        @Html.CheckBoxFor(x => x.Contactos[index].Delete, new {@class="hidden" })
        @Html.HiddenFor(x => x.Contactos[index].ContactoId)
        <a href="javascript:void(0);" onclick="javascript:DeleteRenglon(@index)">
            <i class="material-icons">clear</i>
        </a>
        
    </td>
</tr>